
/* -------------------- */
/* ::: S E L E C T  ::: */
/* -------------------- */

.custom-select {
    position: relative;
    @extend %iconAfter; @include sprite(arrow-down-black after); // => add an arrow icon in :after
    cursor: pointer;

    &:before { // To hide style of arrow in Firefox and IE
        content: "";
        @include absolute(auto 1 1); // == position: absolute; top: 1px; right: 1px
        display: inline-block;
        @include cube($customSelectHeight - 2);
        background-color: $customSelectBackground;
        pointer-events: none; text-align: center;
    }

    &:after {
        @include absolute(auto 10 10);
        pointer-events: none;
    }

    select {
        display: inline-block;
        width: 100%; height: $customSelectHeight;
        padding-left: $customSelectPaddingLeft;
        background-color: white;
        border: 1px solid $customSelectBorderBtn; 
        border-radius: 0; // cancel iso radius
        @include appearance(none); // compass mixin
    }

    // Disable for IE10 and down
    .lte11 & { 

        &:before, &:after { display: none }

        select { line-height: inherit; padding-top: 12px; padding-bottom: 12px }
    }
}
