
/* ---------------------------- */
/* ::: Yupik Dropdown ::: */
/* ---------------------------- */


/* The HTML

    <div class="dropdown">    
        <select>
            <option>Choisissez carte de crédit</option>
            <option>Visa</option>
            <option>Mastercart</option>
        </select>
    </div>
 */


// Default variable
$yupik-dropdown-namespace: $inuit-namespace !default;

$yupik-dropdown-height:       26px !default;
$yupik-dropdown-background:   white !default;
$yupik-dropdown-border-color: #cecece !default;
$yupik-dropdown-padding-left: 11px !default;
$yupik-dropdown-arrow-width:  12px !default;
$yupik-dropdown-arrow-height: 8px !default;
$yupik-dropdown-arrow-color:  #333 !default;
// Selector using to disabled the arrow on IE10 and inferior
$yupik-dropdown-disabled-selector: ".lte11";


// The SCSS
.#{$yupik-dropdown-namespace}dropdown,
%#{$yupik-dropdown-namespace}dropdown, {
    position: relative;
    cursor: pointer;

    // To hide style of arrow in Firefox and IE
    &:before { 
        content: "";
        @include absolute(auto 1 1);
        display: inline-block;
        @include cube($yupik-dropdown-height - 2);
        background-color: $yupik-dropdown-background;
        pointer-events: none; text-align: center;
    }

    &:after {
        content: "";
        @include triangle($yupik-dropdown-arrow-width $yupik-dropdown-arrow-height down $yupik-dropdown-arrow-color);
        @include absolute(auto auto 10);
        @include vertical-center;
        pointer-events: none;
    }

    select {
        display: inline-block;
        width: 100%; height: $yupik-dropdown-height;
        padding-left: $yupik-dropdown-padding-left;
        background-color: $yupik-dropdown-background;
        border: 1px solid $yupik-dropdown-border-color; 
        border-radius: 0; // cancel iso radius
        @include vendor(appearance, none);
    }

    // Disable for IE10 and down
    #{$yupik-dropdown-disabled-selector} & { 

        &:before, &:after { display: none }

        select { line-height: inherit; padding-top: $yupik-dropdown-arrow-width; padding-bottom: $yupik-dropdown-arrow-width }
    }
}